.idea
.directory
hosts
backup.ini
dumps
logs
filesystem
filesystem.ini
directories_and_mysql
directories_and_mysql.ini
ssh_and_mysql
ssh_and_mysql.ini
directories_and_postgresql
directories_and_postgresql.ini
