[general]
retries = 3

[paths]
wget = /usr/bin/wget
mysqldump = /usr/bin/mysqldump
destination = dumps

[observers]
ftp = Org\Impavidly\Backup\Observers\Ftp
mysqldump = Org\Impavidly\Backup\Observers\MysqlDump

[hosts]
hosts1 = hosts
