[general]
;how many times the observer will retry the job before giving up
retries = 5
;used for validation, how many fields the hosts files have
hosts_field_count = 10
;the "from" field for the email appender
email_from = logger@impavidly.org
;the "to" field for the email appender
email_to = andi@impavidly.org
;the directory where the observers store the files
destination = dumps

[observers]
;any number of observer classes
ftp = Org\Impavidly\Backup\Observers\Ftp
mysqldump = Org\Impavidly\Backup\Observers\MysqlDump

[ftp]
;the path on the filesystem for the wget command, used by the ftp observer
wget = /usr/bin/wget

[mysqldump]
;the path on the filesystem for the mysqldump command, used by the mysqldump observer
mysqldump = /usr/bin/mysqldump

[hosts]
;any number of csv files
hosts1 = hosts
