[general]
retries = 3
hosts_field_count = 10

[paths]
wget = /usr/bin/wget
mysqldump = /usr/bin/mysqldump
destination = dumps

[observers]
ftp = Org\Impavidly\Backup\Observers\Ftp
mysqldump = Org\Impavidly\Backup\Observers\MysqlDump

[custom]
name = value

[hosts]
hosts1 = hosts
