[general]
;how many times the observer will retry the job before giving up
retries = 5
;the "from" field for the email appender
email_from = logger@bar.com
;the "to" field for the email appender
email_to = admin@bar.com
;the directory where the observers store the files
destination = dumps

[observers]
;any number of observer classes
directories = Org\Impavidly\Backup\Observers\Directories
mysqldump = Org\Impavidly\Backup\Observers\MysqlDump

[directories]
tar = /bin/tar
;the position of the filesystem fields in the csv file
csv_fields_indexes = 0

[mysqldump]
;the path on the filesystem for the mysqldump command, used by the mysqldump observer
mysqldump = /usr/bin/mysqldump
;the position of the mysqldump fields in the csv file
csv_fields_indexes = 1, 2, 3, 4, 5

[csv]
;any number of csv files
csv1 = directories_and_mysql
