[general]
;how many times the observer will retry the job before giving up
retries = 5
;the "from" field for the email appender
email_from = logger@bar.com
;the "to" field for the email appender
email_to = admin@bar.com
;the directory where the observers store the files
destination = dumps

[observers]
;the filesystem observer
filesystem = Org\Impavidly\Backup\Observers\Filesystem

[filesystem]
tar = /bin/tar
;the position of the filesystem fields in the csv file
csv_fields_indexes = 0

[csv]
;any number of csv files
filesystem1 = filesystem
